[Unit]
Description=HS Convert event finder
Requires=network-online.target
After=network.target

[Service]
User = base
Group = adm
Type=simple
ExecStart=/usr/local/bin/hs_band_search
Restart=always

[Install]
WantedBy=hs_event_locator.target
